<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Books List</h2>
    </div>
    <a class="btn btn-primary" routerLink="/add-user">Add User</a>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">
            <th scope="row">{{user._id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary" routerLink="/edit-user/{{user._id}}" >Edit</button>
              <button class="btn btn-sm btn-danger" (click)="delete(user._id,1)" >Delete</button>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
  
